# Current Population Survey Dashboard

### Data generation from bd CPS

-----

January 11, 2019

Brian W. Dew (brian.w.dew@gmail.com; @bd_econ)

-----

To Do:

- Generate data for employment to population ratio graph
- Generate text for employment to population ratio graph

In [2]:
import pandas as pd
import numpy as np
import os

os.chdir('/home/brian/Documents/CPS/data/clean/')

In [3]:
(pd.read_feather('cps2018.ft')
   .filter(['HRMONTH', 'AGE', 'PWCMPWGT', 'EMP'])
   .query('25 <= AGE <= 54')
   .groupby())

         HRMONTH  AGE     PWCMPWGT  EMP
8              1   52  1783.604370    1
17             1   53  2174.605225    1
23             1   50  2069.516357    0
26             1   29  3047.880859    1
28             1   53  1727.571045    1
29             1   48  2048.721191    1
36             1   27  2898.157227    0
37             1   27  2651.267090    1
40             1   36  2261.460693    0
41             1   51  1459.894653    0
43             1   35  1437.861328    1
44             1   37  1384.631958    1
45             1   39  1565.785400    1
51             1   52  1734.330444    1
52             1   54  1552.941895    1
53             1   42  1840.130371    1
54             1   40  1526.510132    1
57             1   41  2889.205078    1
58             1   41  2250.577881    1
62             1   40  2370.469238    0
63             1   34  2084.271484    1
68             1   45  2080.931152    1
69             1   50  1744.531860    1
70             1   47  2133.060059    1
76             1   36  2412.854736    1
77             1   49  1998.297974    1
78             1   27  2364.537109    1
79             1   30  1926.000366    1
80             1   33  2537.409180    1
81             1   33  2195.813721    0
...          ...  ...          ...  ...
1354335       10   33   301.209900    1
1354336       10   31   303.957794    0
1354341       10   47   292.484711    1
1354342       10   41   231.482101    1
1354348       10   26   319.014496    1
1354349       10   26   327.912201    1
1354350       10   28   327.912201    1
1354355       10   32   293.513306    1
1354358       10   48   286.345398    1
1354359       10   50   247.553497    1
1354362       10   47   491.514893    1
1354365       10   47   234.683105    1
1354366       10   35   253.675095    1
1354369       10   25   327.290100    1
1354377       10   31   301.544312    1
1354378       10   34   298.233887    1
1354383       10   53   292.243988    1
1354387       10   51   289.564301    1
1354390       10   30   301.209900    1
1354391       10   28   368.755188    0
1354396       10   25   297.698792    0
1354397       10   25   262.067993    1
1354400       10   52   359.660309    0
1354401       10   52   365.301208    0
1354403       10   29   339.149811    1
1354407       10   26   311.925110    1
1354409       10   28   280.897186    1
1354417       10   30   303.490692    1
1354419       10   39   256.022614    1
1354420       10   38   261.799408    1

[515395 rows x 4 columns]